@model ProjectManageStudent.Models.Classroom

@{
   
}

<h2>@Model.Name</h2>

<div>
    
    <dl class="dl-horizontal">
       
       
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var st in Model.Accounts)
                {
                    <tr>

                    <td><a asp-action="../Accounts/Details" asp-route-id="@st.Id"> @st.Email</a></td>
                    <td>@st.FirstName</td>
                    <td>@st.LastName</td>
                    <td>@st.Address</td>
                    <td>@st.Phone</td>
                </tr>
        }
            </tbody>
        </table>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
