@model ProjectManageStudent.Models.Account

@{
    ViewData["Title"] = "Details";
}

<h2> @Html.DisplayFor(model => model.Email)</h2>

<div>
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Classroom)
        </dt>
        <dd>
            <a asp-action="../Classrooms/Details" asp-route-id="@Model.ClassroomId">@Html.DisplayFor(modelItem => Model.Classroom.Name)</a>
        </dd>
    </dl>
</div>
<table class = "table">
      
    
      
    <thead>
        <tr>
            <th></th>
            <th>Practive</th>
            <th>Theory Date</th>
            <th>Assignment</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
      
    <tbody>
    @foreach(var ma in Model.Marks) {
        <tr>
            <th>@ma.Subject.Name</th>
            <td>@ma.Practice</td>
            <td>@ma.Theory</td>
            <td>@ma.Assignment</td>
            <td>@ma.Status</td>
            <td><a asp-action="../Marks/Edit" asp-route-id="@ma.Id">Edit</a></td>
        </tr>
    }

    </tbody>
      
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
